.menu
{
    display: inline-block;
    float:left;
    height:100px;
    overflow: hidden;
    width:20%;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    transition: width 1s;
}

.menu.home      { background-color: #2d89ef; }
.menu.demo     { background-color: #00a300; }
.menu.site1 { background-color: #e3a21a; }
.menu.site2  { background-color: #9f00a7; }
.menu.site3   { background-color: #ee1111; }

.menu a
{	
	font-family: Helvetica, Arial, sans-serif;
    font-size: large;
	color:#FFF;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    height:100%;
    display:block;
    padding-top: 6px;
}

.menu span
{
	
    display:block;
    position:relative;
    top:100%;
    text-align: center;
    -webkit-transition: top 1s;
    -moz-transition: top 1s;
    transition: top 1s;
}

.nav:hover .menu { width:10%; }
.nav .menu:hover { width: 60%; }
.menu:hover span{ top:25%; }

.signal-strenght 
{
	margin-left: auto;
	margin-right: auto;
	width:200px;
	color:#fff;
	padding:3px 3px;
	background-color:#ccc;
	
}

.signal-strenght .signal 
{
	background-color:#3411D5;
	height:10px;
}
.signal-strenght .one {
	width:10%;
}
.signal-strenght .two {
	width:20%;
}
.signal-strenght .three {
	width:30%;
}
.signal-strenght .four {
	width:40%;
}
.signal-strenght .five {
	width:50%;
}
.signal-strenght .six {
	width:60%;
}
.signal-strenght .seven {
	width:70%;
}
.signal-strenght .eight {
	width:80%;
}
.signal-strenght .nine {
	width:90%;
}
.signal-strenght .ten {
	width:100%;
}

table 
{ 
	margin-left: auto;
	margin-right: auto;
	color: #333;
	font-family: Helvetica, Arial, sans-serif;
	width: 60%; 
	border-collapse: 
	collapse; border-spacing: 0; 
}

td, th 
{ 
	border: 1px solid transparent; 
	height: 30px; 
	transition: all 0.3s;
}

th 
{
	background: #DFDFDF;
	font-weight: bold;
}

td 
{
	background: #FAFAFA;
	text-align: center;
}

tr:nth-child(even) td { background: #F1F1F1; }   
tr:nth-child(odd) td { background: #FEFEFE; }  
tr td:hover { background: #666; color: #FFF; } 


